*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.login-info{
    margin: 3rem auto;
    text-align: center;
    width: 50%;
}
.login-info h2, .register-info h2{
    color: #1B262C;
    font-weight: bold;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transition: uppercase;
    line-height: 1.3em;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 1;
}
.login-info h2::before{
    content: '';
    width: 44%;
    height: 8px;
    background-color: #3282B8;
    bottom: 16px;
    opacity: 0.5;
    left: 4rem;
    display: block;
    position: absolute;
    z-index: -10000000;

}
.register-info {
    position: relative;
}
.register-info{
    margin: 3rem auto;
    text-align: center;
    width: 50%;
}
.register-info h2::before{
    content: '';
    width: 29%;
    height: 8px;
    background-color: #3282B8;
    bottom: 15px;
    opacity: 0.5;
    left: 16rem;
    display: block;
    position: absolute;
    z-index: -10000000;

}

.login-form input:focus{
    outline: 1px solid #1B262C;
}
.login-form input label{
    padding: 4px 0px;
}
.login-form button{
    width: 100%;
    background-color: #1B262C;
    border-color: #1B262C;
    transition: 0.3s;
}
.login-form button:hover{
    color: #1B262C;
    border-color:#1B262C ;
    background-color: #fff;
}
.login-form a , .register-form a{
    color: #1B262C;
}
.login-form .form-check-input:checked,.register-form .form-check-input:checked{
    background-color: #1B262C;
}
.register-form button{
    width: 100%;
    color: #fff;
    background-color: #1B262C;
    border-color: #1B262C;
    transition: 0.3s;
}

.content-container {
    padding: 1px 33px;
}
.register-form button:hover{
    color: #1B262C;
    border-color:#1B262C ;
    background-color: #fff;
}
.register-form p a{
   color: #3282B8;
   margin-left: 5px;
}
.account-type{
    margin: 4rem auto;
    width: 30%;
}
.account-type li{
    border: 0.5px solid ;
    border-color: #979b9d;
}
.account-type li i{
    color: #3282B8;
     margin: 7px 9px;
}
.account-type  span{
    color: #1B262C;
    opacity: 0.9;
}
.account{
    display: flex;
    justify-content: space-between;
}
.account-content{
    width: 60%;
    margin: 4rem auto;
      border: 1px solid ;
    border-color: #979b9d;
}

.account-content  .dashboard-content p{
        opacity: 0.9;
    font-weight: 400;
    font-size: 19px;
    font-family: "Poppins", Sans-serif;
   
    padding: 14px;

}
.dashboard-content span{
    color: #3282B8;
}

.account-type{
    flex-direction: column;
    display: inline-block;
  position: relative;
  }
  .account-type ul{
    background-color: white;
  }
 
  .account-type li:hover {
    background-color: #1B262C;
    box-shadow: 0px 0px 10px 3px #e0cece;
  }
  
  .account-type li:hover span{
    color: #FFFFFF;
  }
  .active{
    background-color: #1B262C;
    box-shadow: 0px 0px 10px 3px #e0cece;
   
  }
  .active span{
    color: white;
  }
  .table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}
.address i{
    color: #3282B8;
    margin: 0 5px;
}
.address-card{
    display: flex;
    justify-content: space-between;
}
.address-card .card{
    width: 32%;
    height: 16rem;
}
.address-card .card p{
    padding: 1px 0 !important;
}

.detail-content  button{
    width: 100%;
    color: #fff;
    background-color: #1B262C;
    border-color: #1B262C;
    transition: 0.3s;
    padding: 5px 0;
}
.detail-content  button:hover{
    color: #1B262C;
    border-color:#1B262C ;
    background-color: #fff;
}
.register-info{
    margin-bottom: -3rem !important;
}
@media only screen and (max-width: 576px) 
{
    .account{
        width: 100%;
        display: block;
    }
    .account-type{
        width: 100%;
    }
    .account-content{
        width: 100%;
    }
}