*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.login-form {
    width: 500px;
    margin: 4rem auto;
}
.login-info{
    margin: 3rem auto;
    text-align: center;
    width: 50%;
}
.login-info h2{
    color: #1B262C;
    font-weight: bold;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 1;
}
.login-info h2::before{
    content: '';
    width: 17%;
    height: 8px;
    background-color: #3282B8;
    bottom: 14px;
    opacity: 0.5;
    left: 19.5rem;
    display: block;
    position: absolute;
    z-index: -10000000;

}
.login-form input:focus{
    outline: 1px solid #1B262C;
}
.login-form input label{
    padding: 4px 0px;
}
.login-form button{
    width: 100%;
    background-color: #1B262C;
    border-color: #1B262C;
    transform: 0.3s;
}
.login-form button:hover{
    color: #1B262C;
    border-color:#1B262C ;
    background-color: #fff;
}
.login-form a{
    color: #1B262C;
}
.login-form .form-check-input:checked{
    background-color: #1B262C;
}