*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: 'MyCustomFont'; 
  src: url('../fonts/Roboto-Bold.ttf') format('woff2'); 
 }

 header a{
  font-family: 'MyCustomFont';
 }
 
a{
    text-decoration: none;
}
header{
    background-color: #1B262C;

}
header .link::before{
  content: ' ';
  position: absolute;
  top: -20px;
    background-color:#2f78a7 ;
  width: 100%;
  height: 0px;
  z-index: -111000111;
  transition: 0.5s;
}
header .link {
  position: relative;
  z-index: 10000;
}
header .link:hover::before{
  height: 205%;
  color: white;
}
nav{
    color: #FFFFFF;
    background-color: #1B262C;
     
}
nav i{
    font-size: 18px;
}
nav .logo img{
    width: 241px;
  }
 footer
 {
    background-color: #1B262C;
 }
 footer img
 {
     width: 241px;
 }
 footer i
 {
    color:#2f78a7 ;
 }
 footer .social i{
background-color: #2f78a7;
color: #FFFFFF;
font-size: 20px;
border-radius: 5px;
padding: 10px;
margin-right: 8px;
 }

 
#insta-address .insta h1{
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  color: white;
  text-align: center;
  padding-bottom:2rem;
} 
#insta-address {
  background-color: #0F4C75;
  margin-top: 5rem ;
  padding:10rem 0 ;
  text-align: center;
}
#insta-address .insta a{
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  background-color: #FFFFFF;
  color: #0F4C75;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  border-width: 2px 2px 2px 2px;
  border: solid;
  border-color: #fff;
  border-radius: 5px 5px 5px 5px;
  padding: 21px 30px 21px 30px;
  transition: 0.3s;
}

#insta-address .insta a:hover{
  background-color: #0F4C75;
  color: white;
  border-color: #FFFFFF;
}
.random-image{
  display: flex;
  justify-content: space-between;
}
.random-image img{
  width: 25%;
  height: 360px;
}

.best-choice{
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  
}
.choice-info{
  width: 51%;
  position: relative;
  z-index: 1000000;
}
.choice-info h5{
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  color: #3282B8;
  padding: 2rem 0;
}
.choice-info  h2{
  color: #1B262C;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.choice-info  p{
  color: #6E6E6E;
  font-family: "Poppins", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
}
.choice-info::before{
  content: 'o';
  color: #2f78a7;
  opacity: 0.2;
  top: -71px;
  left: 15px;
  position: absolute;
  z-index: -2;
  font-size: 254px;
  font-weight: bold;

}
.choice-info a{
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  background-color: #0F4C75;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  border-width: 2px 2px 2px 2px;
  border: solid;
  border-color: #0F4C75;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 30px 15px 30px;
  transition: 0.3s;
}
.choice-info a:hover{
  color: #0F4C75;
  background-color: white;
  border-color: #0F4C75;
}
.choice-info .equality ul{
  padding-bottom: 1.5rem;
}


.img-video{
  position: relative;
  width: 48%;
}
.img-video::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5; 
}
.img-video img{
  width: 100%;
  height:100%;
}
li{
  list-style: none;
}
ul{
  padding-left: 0;
}
li i{
  color: #3282B8;
  font-size: 20px;
  padding: 8px;
}
li span{
  font-size: 17px;
  color: #6E6E6E;
}
.new-arrival-all{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 4rem auto;
}
.new-arrival-all::before{
  content: ' ';
  position: absolute;
  width: 253px;
  height: 782px;
  background-color: #0F4C75;
  left: -101px;
  top: 21px;
}

.card{
  width: 30%;
  margin: 16px auto;
  border: none;
}

.card-body h5{

  color: #1B262C !important;
  padding: 0.5em 0;
  margin: 0;
  color: #1B262C;
  font-family: "Poppins", Sans-serif;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.card-body a{
  color: #FFFFFF;
  background-color: #0F4C75;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 30px 15px 30px;
  line-height: 1;
  cursor: pointer;
  font-family: "Poppins", Sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.card-body:hover a{
color: #0F4C75;
background-color: #FFFFFF;
border:1.5px solid #0F4C75;

}
.card-body p{
  padding-bottom: 1rem;
padding-top: 1rem;
}
.new-prod-card{
  display: flex;
  justify-content: space-between;
}
.nev-arrival-product{
  width: 75%;
}
.card{
 width: 30%;
height: 27rem;
}
.card-body .discounted-price{
color: #3282BF;
font-weight: bold;
 font-family: "Poppins", Sans-serif;
text-decoration: underline;
}
.card-body .badge{
position: absolute;
top: 1rem;
right: 2rem;
background-color: #d72121;
font-family: "Poppins", Sans-serif;
font-weight: 800;
text-transform: uppercase;
line-height: 1.3em;
letter-spacing: 1.5px;
}


.nev-arrival-product .new-arrival-info h5{
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  color: #3282B8;
  padding: 2rem 0;
}
.new-arrival-info h2{
  color: #1B262C;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.new-arrival-info::before{
  content: 'o';
  color: #2f78a7;
  opacity: 0.2;
  top: -83px;
  left: 316px;
  z-index: -77;
  position: absolute;
  font-size: 254px;
  font-weight: bold;

}
.prod-imges{
  width: 20%;
  position: relative;
  top: 86px;

}
.prod-imges img{
  position: absolute;
  border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #FFFFFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    transition: 0.8s linear;
  }
  .prod-imges img:hover{
    transform: scale(1.2);
  }
.prod-imges img:nth-child(1){
  z-index: 13;
  left: -63px;
  top: 64px;
  width: 323px;
}
.prod-imges img:nth-child(2){
  z-index: 100;
  top: 222px;
  left: 29px;
  width: 266px;

}
.prod-imges img:nth-child(3){
  z-index: 10000;
  top: 378px;
  left: -63px;
  width: 323px;

}
.image-medium {
  width: 250px;
  height: 200px;
}
/* Special Sale Section */
.special{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 4rem auto;
}
.special::before{
  content: ' ';
  position: absolute;
     width: 259px;
    height: 877px;
  background-color: #0F4C75;
  right: -99px;
  top: 21px;
}

.card{
  width: 30%;
  margin: 16px auto;
  border: none;
}

.card-body h5{

  color: #1B262C !important;
  padding: 0.5em 0;
  margin: 0;
  color: #1B262C;
  font-family: "Poppins", Sans-serif;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.card-body a{
  color: #FFFFFF;
  background-color: #0F4C75;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 30px 15px 30px;
  line-height: 1;
  cursor: pointer;
  font-family: "Poppins", Sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.card-body:hover a{
color: #0F4C75;
background-color: #FFFFFF;
border:1.5px solid #0F4C75;

}
.card-body p{
  padding-bottom: 1rem;
padding-top: 1rem;
}
.special-prod-card{
  display: flex;
  justify-content: space-between;
    width: 92%;
}
.special{
  display: flex;
  justify-content: space-between;
  margin: 10rem auto;
}
.special-sale-product {
  width: 75%;
  margin-right: 3rem;
}
.card{
 width: 27%;
height: 27rem;
}
.card-body .discounted-price{
color: #3282BF;
font-weight: bold;
 font-family: "Poppins", Sans-serif;
text-decoration: underline;
}
.card-body .badge{
position: absolute;
top: 1rem;
right: 2rem;
background-color: #d72121;
font-family: "Poppins", Sans-serif;
font-weight: 800;
text-transform: uppercase;
line-height: 1.3em;
letter-spacing: 1.5px;
}


.special-sale-info h5{
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  color: #3282B8;
  padding: 2rem 0;
}
.special-sale-info h2{
  color: #1B262C;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.special-sale-info::before{
  content: 'o';
  color: #2f78a7;
  opacity: 0.2;
  top: -83px;
  left: 2px;
  z-index: -77;
  position: absolute;
  font-size: 254px;
  font-weight: bold;

}
.special-prod-img{
  width: 25%;
  position: relative;
  top: 86px;
}
.special-prod-img img{
  position: absolute;
  border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #FFFFFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);
    border-radius: 3%;
     z-index: 13;
       left: -45px;
    top: 70px;
    width: 445px;
    height: 643px;
    
transition: 0.3s ;
  }
  .special-prod-img img:hover{
    transform: scale(1.1);
  }


  /* CUSTOM  PRODUCT SECTION  */
 
 
 
 
  .custom {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    
}
.custom-product-info{
  width: 43%;
    position: relative;
    z-index: 1000000;
}
.custom-product-info h5{
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: 1.5px;
    color: #3282B8;
    padding: 2rem 0;
}
.custom-product-info h2{
    color: #1B262C;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.3em;
    letter-spacing: 1.5px;
}
.custom-product-info p{
    color: #6E6E6E;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
}
.custom-product-info::before{
    content: 'o';
    color: #2f78a7;
    opacity: 0.2;
    top: -71px;
    left: 15px;
    position: absolute;
    z-index: -2;
    font-size: 254px;
    font-weight: bold;

}
.custom-product-info a{
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    background-color: #0F4C75;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
    border-width: 2px 2px 2px 2px;
    border: solid;
    border-color: #0F4C75;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 30px 15px 30px;
    transition: 0.3s;
}
.custom-product-info a:hover{
    color: #0F4C75;
    background-color: white;
    border-color: #0F4C75;
}
.custom-product-info .our-watch ul{
    padding-bottom: 1.5rem;
}
.watch-img{
  position: relative;
  width: 48%;
}
.watch-img::before{
  content: ' ';
  position: absolute;
  top: -22px;
  left: -24px;
  border-radius: 8%;
  background-color: #2f78a7;
  width: 189px;
  height: 189px;
  z-index: -111111111111111;
}
.watch-img::after{
  content: ' ';
  position: absolute;
  bottom: -16px;
  right: -19px;
  border-radius: 8%;
  background-color: #2f78a7;
  width: 189px;
  z-index: -2999992;
  height: 189px;
}
.watch-img img{
  width: 100%;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: #FFFFFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3%;
transition: 0.3s;

}
.watch-img:hover img{
  transform: scale(1.1);
}

/* SHOP NOW SECTION */
.shop-by-category{
  margin: 2rem auto;
}
.shop-now-title{
  text-align: center;
}
.shop-now-title h5{
  color: #3282B8;
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.shop-now-title h2{
  color: #1B262C;
  font-weight: bold;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 1;
}
.shop-now-title h2::before{
  content: '';
  width: 27%;
  height: 20px;
  background-color: #3282B8;
  bottom: 9px;
  left: 35.5rem;
  display: block;
  position: absolute;
  z-index: -10000000;

}
.all-category{
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.all-category .single-category{
  width: 30%;
margin: 3rem auto;
position: relative;
border-style: solid;
border-width: 10px 10px 10px 10px;
border-color: #FFFFFF;
box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

}
.all-category .single-category img{
  height: 419px; 
     width: -webkit-fill-available;
   
}
.single-category p{
  position: absolute;
  margin-bottom: 0.9rem;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  font-family: "Poppins", Sans-serif;
width: 93%;
}
.single-category a{
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  background-color: #0F4C75;
  
  padding: 9px 15px;
  transition: 0.3s;
  position: absolute;
  top: 76%;
  border-radius: 6%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.single-category a:hover{
  color:#0F4C75;
  background-color: transparent;
  border-color:#0F4C75 ;
}

.single-category h4{
  color: #fff;
  width: 81%;
  text-align: center;
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.single-category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5; 
}
/* .category .single-category img{
  width: 100%;
} */

/* LATEST PRODUCT SECTION */
.latest-prod-card .card{
  width: 23%;
  height: 32rem;
}
.latest-prod{
  margin: 2rem auto;
}
.latest-prod-card{
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
}
.card-body p{
  padding-bottom: 1.5rem;
padding-top: 1rem;
}
.card-body .discounted-price{
color: #3282BF;
font-weight: bold;
 font-family: "Poppins", Sans-serif;
text-decoration: underline;
}
.card-body .badge{
position: absolute;
top: 1rem;
right: 2rem;
background-color: #d72121;
font-family: "Poppins", Sans-serif;
font-weight: 800;
text-transform: uppercase;
line-height: 1.3em;
letter-spacing: 1.5px;
}
.card-body h5{

  color: #1B262C !important;
  padding: 0.5em 0;
  margin: 0;
  color: #1B262C;
  font-family: "Poppins", Sans-serif;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.card-body a{
  color: #FFFFFF;
  background-color: #0F4C75;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 30px 15px 30px;
  line-height: 1;
  cursor: pointer;
  font-family: "Poppins", Sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.card-body:hover a{
color: #0F4C75;
background-color: #FFFFFF;
border:1.5px solid #0F4C75;
}
.latest-prod-info{
  text-align: center;
}
.latest-prod-info h5{
  color: #3282B8;
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.latest-prod-info h2{
  color: #1B262C;
  font-weight: bold;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 1;
}
.latest-prod-info h2::before{
  content: '';
  width: 27%;
  height: 20px;
  background-color: #3282B8;
  bottom: 9px;
  left: 35.5rem;
  display: block;
  position: absolute;
  z-index: -10000000;

}

/* FEEDBACK SECTION  */


.best-feedback{
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.feedback-info{
  width: 51%;
  position: relative;
  z-index: 1000000;
  padding: 0 62px 0 0;
}
.feedback-info h5{
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  color: #3282B8;
  padding: 2rem 0;
}
.feedback-info h2{
  color: #1B262C;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.feedback-info  p{
  padding-right: 35px;
  color: #6E6E6E;
  font-family: "Poppins", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom:0.9rem ;
}
.feedback-info::before{
  content: 'o';
  color: #2f78a7;
  opacity: 0.2;
  top: -71px;
  left: 15px;
  position: absolute;
  z-index: -2;
  font-size: 254px;
  font-weight: bold;

}

.feedback-video{
  position: relative;
  width: 69%;
  height: 468px;
  margin: 4rem auto;
}
.feedback-video::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5; 
}
.feedback-video img{
  width: 100%;
  height:100%;
}
/* ACCOUNT DROPDOWN */
.account-dd .dropdown-content {
position: absolute;
    top: 29px;
    left: 1px;
    /* display: contents; */
    position: absolute;
    z-index:999999;
}
.account-dd{
  flex-direction: column;
  display: inline-block;
position: relative;
}
.account-dd ul{
  background-color: white;
  margin-top: 8px;
  width: 133px;
}

.account-dd li {
  margin: 0 auto;
  padding: 3px 12px;
  border: 0.1px solid #faefef;
transition: 0.5s;
}
.account-dd li a{
 color: #1B262C;
}
.account-dd li:hover {
  background-color: #1B262C;
  box-shadow: 0px 0px 10px 3px #e0cece;
}

.account-dd li:hover a{
  color: #FFFFFF;
}
.account-dd:hover .dropdown-content{
  display: block !important;
}
.basket {
  align-items: center;
  z-index: 9999;
  cursor: pointer;
}

.basket-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.basket-icon i {
  font-size: 24px;
  color: #ffffff;
}

.item-count {
  position: absolute;
  top: 13px;
  right: -2px;
  width: 17px;
  height: 17px;
  background-color: red;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-content {
  position: absolute;
  top: 99%;
  right: -78px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 373px;
  height: auto;
  display: none;
  z-index: 9998;
  transition: 0.5s ease-out;

}
.basket-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 1px;
}
.basket-content ul li span {
font-size: 14px;
font-family: "Poppins", Sans-serif;
  font-weight: 400;
  line-height: 1.3em;

}
.basket-content  .price{
  width: 40%;
}
.basket-content .basket-prod-img{
  width: 149px;
  border: 1px solid #fbebeb;
  height: 125px;
}
.basket .basket-content .basket-prod-img img{
  width: 100%;
}
.single-price{
  color: #0F4C75;
}
.close-div{top: 1px;
  right: 2px;
  position: absolute;
  right: -33px;
  background-color: #0F4C75;
  color: white;
}
.basket-content  .basket-setting a{
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  background-color: #0F4C75;
  padding: 9px 15px;
  transition: 0.3s;
  width: 60%;
text-align: center;
  display: block;
  margin: 10px auto;

}
.basket-content .basket-setting a:hover{
  background-color: #ffffff;
  color: #0F4C75;
}
.basket-setting .basket-price .setting{
  color: #0F4C75;
}
.basket-setting .basket-price .sub, .all{
  display: flex;
  justify-content: space-between;
}
.basket-setting .basket-price{
  margin: 3rem 0;
}
.basket-setting .basket-price span{
  color: #6E6E6E;
}



@media only screen and (max-width: 1676px) and (min-width: 978px)  
{
      nav  .collapse.navbar-collapse{
        display: flex;
        justify-content: end;
      }
      .navbar-expand-lg .navbar-nav {
        align-items: center;
      }
.group{
  width: 35%;
}
    }


@media (max-width: 576px) {
  nav .logo img{
    width: 150px;
  }
  .contact-bread-crump{
    width:55% ;
    align-items: center;
    margin: auto;
  }

  .contact-bread-crump a{
    color: #2f78a7;
 }
 .contact-bread-crump h1{
   font-weight: bold;
   /* font-family:sans-serif; */
 /*Poppins sans serif  */
 font-size: 35px;
}
  }
  /* SLIDER */
  /* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slider{
  width: 80%;
  bottom: 1rem;
  background-color: white;
  position: absolute;
  z-index: 999999999999999999999;
}
.best-feedback {
  position: relative;
}
.feedback-slider h6{
  font-size: 1.3em;
  padding: 6px;
  font-style: italic;
  line-height: 1.5;
  color: #6E6E6E;
  font-family: "Poppins", Sans-serif;
}
.feedback-slider .slider-item img {
  bottom: -1rem;
  left: 1.6rem;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.commenter{
  display: flex;
  align-items: center;
  margin: 2rem auto;
}
.feedback-slider p{
  padding: 1px 0 0 5px ;
  line-height: 2px;
}
.slider-item .info{
  background-color: #fff7f7;
  z-index: -2;

}
.sale-all{
  margin: 2rem auto;
}
.daily-sale-img{
  width: 50%;
}
.daily-sale-img img{
  width: 100%;
  border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #FFFFFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    
}
.sale-name{
  position: relative;
}
.sale-timer{
  width: 48%;
}
.sale-all{
  display:flex;
  justify-content: space-between;
}
.sale-name::before{
  content: 'o';
  color: #2f78a7;
  opacity: 0.2;
  top: -71px;
  left: 15px;
  position: absolute;
  z-index: -2;
  font-size: 254px;
  font-weight: bold;

}
.sale-all .sale-name h5{
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
  color: #000000;
  padding: 2rem 0;
}
.shop-now a{
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
 
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  border-width: 2px 2px 2px 2px;
  border: solid;

  background-color: #0F4C75;
  color: white;
  border-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 30px 15px 30px;
  transition: 0.3s;
}

.shop-now a:hover{
  background-color: #FFFFFF;
  color: #0F4C75;
  border-color: #0F4C75;
}
.sale-timer span{
  font-size:40px ;
}
.sale-timer .timer{
  display: flex;
  justify-content: space-between;
}
.sale-timer .timer div{
  background-color: #D72121;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 20px 5px 20px;
  color: white;
}